/* CSS Document */

 /* Settings panel Styles */
#cfont,#confont{width:161px; height:30px; line-height:30px; padding:3px; margin-left:84px; font: 12px Arial, Helvetica, sans-serif; color:#666;}
.settings-panel { position: fixed; top:40px; left: 0px; width: 270px; background-color: #fff; border: 1px solid #ebeff0; padding: 2px 5px 10px; margin-left: -282px; z-index: 9999999; }
.settings-panel .open-buttton { display: block; width: 32px; height: 32px; background: url(../images/services-icon.png) center center #fff no-repeat; position: absolute; top: 184px; right: -37px; cursor: pointer; padding: 3px 2px 2px; border: 1px solid #ebeff0; border-left: none; }
.settings-panel h5 { line-height: 12px; margin: 0px 0px 8px 0px; padding: 0px; color: #555; }
.settings-panel .patterns , .settings-panel .c_patterns  { overflow: hidden; margin: 0px 0px 0px -6px; padding: 0px 0px 3px 6px; }
.settings-panel .patterns li, .settings-panel .c_patterns li { width: 35px; height: 35px; border: 1px solid #e1e4e5; float: left; margin: 0px 0px 2px 5px; cursor: pointer; }

 /* background Patterns */
.settings-panel .patterns li.bgs1 { background: url(../images/patterns/45degreee_fabric.png); }
.settings-panel .patterns li.bgs2 { background: url(../images/patterns/bgnoise_lg.png); }
.settings-panel .patterns li.bgs3 { background: url(../images/patterns/gplaypattern.png); }
.settings-panel .patterns li.bgs4 { background: url(../images/patterns/bright_squares.png); }
.settings-panel .patterns li.bgs5 { background: url(../images/patterns/hexellence.png); }
.settings-panel .patterns li.bgs6 { background: url(../images/patterns/cork.png); }
.settings-panel .patterns li.bgs7 { background: url(../images/patterns/rockywall.png); }
.settings-panel .patterns li.bgs8 { background: url(../images/patterns/lghtmesh.png); }
.settings-panel .patterns li.bgs9 { background: url(../images/patterns/flowertrail.png); }
.settings-panel .patterns li.bgs10 { background: url(../images/patterns/light_wool.png); }
.settings-panel .patterns li.bgs11 { background: url(../images/patterns/diagonal-noise.png); }
.settings-panel .patterns li.bgs12 { background: url(../images/patterns/fabric_plaid.png); }
.settings-panel .patterns li.bgs13 { background: url(../images/patterns/lil_fiber.png); }
.settings-panel .patterns li.bgs14 { background: url(../images/patterns/xv.png); }
.settings-panel .patterns li.bgs15 { background: url(../images/patterns/light_alu.png); }
.settings-panel .patterns li.bgs16 { background: url(../images/patterns/light_honeycomb.png); }
.settings-panel .patterns li.bgs17 { background: url(../images/patterns/little_pluses.png); }
.settings-panel .patterns li.bgs18 { background: url(../images/patterns/project_papper.png); }
.settings-panel .patterns li.bgs19 { background: url(../images/patterns/stacked_circles.png); }
.settings-panel .patterns li.bgs20 { background: url(../images/patterns/ravenna.png); }
.settings-pane1 .patterns li.bgs21 { background: url(../images/patterns/roughcloth.png); }
.settings-panel .patterns li.bgs22 { background: url(../images/patterns/scribble_light.png); }
.settings-panel .patterns li.bgs23 { background: url(../images/patterns/small_tiles.png); }
.settings-panel .patterns li.bgs24 { background: url(../images/patterns/soft_wallpaper.png); }
.settings-panel .patterns li.bgs25 { background: url(../images/patterns/square_bg.png); }
.settings-panel .patterns li.bgs26 { background: url(../images/patterns/subtle_freckles.png); }
.settings-panel .patterns li.bgs27 { background: url(../images/patterns/gridme.png); }
.settings-panel .patterns li.bgs28 { background: url(../images/patterns/subtle_stripes.png);}
.settings-panel .patterns li.bgs29 { background: url(../images/patterns/tiny_grid.png);}
.settings-panel .patterns li.bgs30 { background: url(../images/patterns/smooth_wall.png);}
.settings-panel .patterns li.bgs31 { background: url(../images/patterns/grunge_wall.png); }
.settings-panel .patterns li.bgs32 { background: url(../images/patterns/concrete_wall_2.png); }
.settings-panel .patterns li.bgs33 { 	background-color:#e7e7e7; }
.settings-panel .patterns li.bgs34 { background: url(../images/patterns/triangles_pattern.png); }
.settings-panel .patterns li.bgs35 { background: url(../images/patterns/tex2res3.png); }
.settings-panel .patterns li.bgs40 { background: url(../images/patterns/cards/grilled.png); }



 /* Card Patterns Colors */
.settings-panel .c_patterns li.c1 { 	background-color:rgba(231,155,155,1); }
.settings-panel .c_patterns li.c2 { 	background-color:rgba(99,63,89,1);  }
.settings-panel .c_patterns li.c3 { 	background-color:rgba(157,111,137,1);  }
.settings-panel .c_patterns li.c4 { 	background-color:rgba(253,194,214,1);  }
.settings-panel .c_patterns li.c5 { 	background-color:rgba(132,160,83,1);  }
.settings-panel .c_patterns li.c6 { 	background-color:rgba(116,198,118,1);  }
.settings-panel .c_patterns li.c7 { 	background-color:rgba(232,105,146,1); }
.settings-panel .c_patterns li.c8 { 	background-color:rgba(206,208,205,1);  }
.settings-panel .c_patterns li.c9 { 	background-color:rgba(14,156,44,1);  }
.settings-panel .c_patterns li.c10 { 	background-color:rgba(208,225,133,1); }
.settings-panel .c_patterns li.c11{ 	background-color:rgba(192,113,135,1); }
.settings-panel .c_patterns li.c12{ 	background-color:rgba(132,86,133,1); }
.settings-panel .c_patterns li.c13{ 	background-color:rgba(230,144,117,1); }
.settings-panel .c_patterns li.c14{ 	background-color:rgba(100,84,65,1); }
.settings-panel .c_patterns li.c15{ 	background-color:rgba(178,129,146,1);  }
.settings-panel .c_patterns li.c16{ 	background-color:rgba(181,135,115,1);  }
.settings-panel .c_patterns li.c17{ 	background-color:rgba(142,180,201,1);  }
.settings-panel .c_patterns li.c18{ 	background-color:rgba(108,131,87,1);  }
.settings-panel .c_patterns li.c19{ 	background-color:rgba(201,175,158,1);  }
.settings-panel .c_patterns li.default{ background-color:rgba(127,188,183,1);  }




 /* Card Patterns  */
.settings-panel .patterns li.card_bgs1 { background: url(../images/patterns/cards/45degreee_fabric.png); }
.settings-panel .patterns li.card_bgs2 { background: url(../images/patterns/cards/bgnoise_lg.png); }
.settings-panel .patterns li.card_bgs3 { background: url(../images/patterns/cards/gplaypattern.png); }
.settings-panel .patterns li.card_bgs4 { background: url(../images/patterns/cards/bright_squares.png); }
.settings-panel .patterns li.card_bgs5 { background: url(../images/patterns/cards/hexellence.png); }
.settings-panel .patterns li.card_bgs6 { background: url(../images/patterns/cards/cork.png); }
.settings-panel .patterns li.card_bgs7 { background: url(../images/patterns/cards/rockywall.png); }
.settings-panel .patterns li.card_bgs8 { background: url(../images/patterns/cards/lghtmesh.png); }
.settings-panel .patterns li.card_bgs9 { background: url(../images/patterns/cards/flowertrail.png); }
.settings-panel .patterns li.card_bgs10 { background: url(../images/patterns/cards/light_wool.png); }
.settings-panel .patterns li.card_bgs11 { background: url(../images/patterns/cards/diagonal-noise.png); }
.settings-panel .patterns li.card_bgs12 { background: url(../images/patterns/cards/fabric_plaid.png); }
.settings-panel .patterns li.card_bgs13 { background: url(../images/patterns/cards/lil_fiber.png); }
.settings-panel .patterns li.card_bgs14 { background: url(../images/patterns/cards/xv.png); }
.settings-panel .patterns li.card_bgs15 { background: url(../images/patterns/cards/light_alu.png); }
.settings-panel .patterns li.card_bgs16 { background: url(../images/patterns/cards/light_honeycomb.png); }
.settings-panel .patterns li.card_bgs17 { background: url(../images/patterns/cards/little_pluses.png); }
.settings-panel .patterns li.card_bgs18 { background: url(../images/patterns/cards/project_papper.png); }
.settings-panel .patterns li.card_bgs19 { background: url(../images/patterns/cards/stacked_circles.png); }
.settings-panel .patterns li.card_bgs20 { background: url(../images/patterns/cards/ravenna.png); }
.settings-panel .patterns li.card_bgs21 { background: url(../images/patterns/cards/roughcloth.png); }
.settings-panel .patterns li.card_bgs22 { background: url(../images/patterns/cards/scribble_light.png); }
.settings-panel .patterns li.card_bgs23 { background: url(../images/patterns/cards/small_tiles.png); }
.settings-panel .patterns li.card_bgs24 { background: url(../images/patterns/cards/soft_wallpaper.png); }
.settings-panel .patterns li.card_bgs25 { background: url(../images/patterns/cards/square_bg.png); }
.settings-panel .patterns li.card_bgs26 { background: url(../images/patterns/cards/subtle_freckles.png); }
.settings-panel .patterns li.card_bgs28 { background: url(../images/patterns/cards/subtle_stripes.png);}
.settings-panel .patterns li.card_bgs29 { background: url(../images/patterns/cards/tiny_grid.png);}
.settings-panel .patterns li.card_bgs30 { background: url(../images/patterns/cards/textured_stripes.png);}
.settings-panel .patterns li.card_bgs31 { background: url(../images/patterns/cards/extra_clean_paper.png); }
.settings-panel .patterns li.card_bgs32 { background: url(../images/patterns/cards/tex2res2.png); }
.settings-panel .patterns li.card_bgs33 { background: url(../images/patterns/cards/egg_shell.png); }
.settings-panel .patterns li.card_bgs34 { background: url(../images/patterns/cards/redox_01.png); }
.settings-panel .patterns li.card_bgs35 { background: url(../images/patterns/cards/tex2res3.png); }
.settings-panel .patterns li.card_bgs39 { background: url(../images/patterns/cards/frenchstucco.png); }
.settings-panel .patterns li.card_bgs36 { background: url(../images/patterns/cards/wall4.png); }



.settings-panel  h5{ 
	font-size:14px;
	color:#61b1ca;
	 font-weight:600;
	 padding:3px 3px 0px 60px;
}


.settings-panel { 
	font-size:10x;
}


 /* Settings panel1 Styles */
.settings-panel1 { position: fixed; top:40px; left: 0px; width: 270px; background-color: #fff; border: 1px solid #ebeff0; padding: 2px 5px 10px; margin-left: -282px; z-index: 99999; }
.settings-panel1 .open-buttton1 { display: block; width: 32px; height: 32px; background: url(../images/services-icon2.png) center center #fff no-repeat; position: absolute; top: 224px; right: -37px; cursor: pointer; padding: 3px 2px 2px; border: 1px solid #ebeff0; border-left: none; }
.settings-panel1 h5 { line-height: 12px; margin: 0px 0px 8px 0px; padding: 0px; color: #555; }
.settings-panel1 .patterns , .settings-panel1 .c_patterns  { overflow: hidden; margin: 0px 0px 0px -6px; padding: 0px 0px 3px 6px; }
.settings-panel1 .patterns li, .settings-panel1 .c_patterns li { width: 35px; height: 35px; border: 1px solid #e1e4e5; float: left; margin: 0px 0px 2px 5px; cursor: pointer; }

.settings-panel1 .patterns li.bgs41 { background: url(../images/patterns/cards/bg_1.jpg); }
.settings-panel1 .patterns li.bgs42 { background: url(../images/patterns/cards/bg_2.jpg); }
.settings-panel1 .patterns li.bgs43 { background: url(../images/patterns/cards/bg_3.jpg); }
.settings-panel1 .patterns li.bgs44 { background: url(../images/patterns/cards/bg_4.jpg); }
.settings-panel1 .patterns li.bgs45 { background: url(../images/patterns/cards/bg_5.jpg); }
.settings-panel1 .patterns li.bgs46 { background: url(../images/patterns/cards/bg_6.jpg); }
.settings-panel1 .patterns li.bgs47 { background: url(../images/patterns/cards/bg_7.jpg); }
.settings-panel1 .patterns li.bgs48 { background: url(../images/patterns/cards/bg_8.jpg); }
.settings-panel1 .patterns li.bgs49 { background: url(../images/patterns/cards/bg_9.jpg); }
.settings-panel1 .patterns li.bgs50 { background: url(../images/patterns/cards/bg_10.jpg);}
.settings-panel1 .patterns li.bgs51 { background: url(../images/patterns/cards/bg01.jpg); }
.settings-panel1 .patterns li.bgs52 { background: url(../images/patterns/cards/bg02.jpg); }
.settings-panel1 .patterns li.bgs53 { background: url(../images/patterns/cards/bg03.jpg); }
.settings-panel1 .patterns li.bgs54 { background: url(../images/patterns/cards/bg04.jpg); }
.settings-panel1 .patterns li.bgs55 { background: url(../images/patterns/cards/bg05.jpg); }
.settings-panel1 .patterns li.bgs56 { background: url(../images/patterns/cards/bg06.jpg); }

 /* Card Patterns Colors */
.settings-panel1 .c_patterns li.c1 { 	background-color:rgba(231,155,155,1); }
.settings-panel1 .c_patterns li.c2 { 	background-color:rgba(99,63,89,1);  }
.settings-panel1 .c_patterns li.c3 { 	background-color:rgba(157,111,137,1);  }
.settings-panel1 .c_patterns li.c4 { 	background-color:rgba(253,194,214,1);  }
.settings-panel1 .c_patterns li.c5 { 	background-color:rgba(132,160,83,1);  }
.settings-panel1 .c_patterns li.c6 { 	background-color:rgba(116,198,118,1);  }
.settings-panel1 .c_patterns li.c7 { 	background-color:rgba(232,105,146,1); }
.settings-panel1 .c_patterns li.c8 { 	background-color:rgba(206,208,205,1);  }
.settings-panel1 .c_patterns li.c9 { 	background-color:rgba(14,156,44,1);  }
.settings-panel1 .c_patterns li.c10 { 	background-color:rgba(208,225,133,1); }
.settings-panel1 .c_patterns li.c11{ 	background-color:rgba(192,113,135,1); }
.settings-panel1 .c_patterns li.c12{ 	background-color:rgba(132,86,133,1); }
.settings-panel1 .c_patterns li.c13{ 	background-color:rgba(230,144,117,1); }
.settings-panel1 .c_patterns li.c14{ 	background-color:rgba(100,84,65,1); }
.settings-panel1 .c_patterns li.c15{ 	background-color:rgba(178,129,146,1);  }
.settings-panel1 .c_patterns li.c16{ 	background-color:rgba(181,135,115,1);  }
.settings-panel1 .c_patterns li.c17{ 	background-color:rgba(142,180,201,1);  }
.settings-panel1 .c_patterns li.c18{ 	background-color:rgba(108,131,87,1);  }
.settings-panel1 .c_patterns li.c19{ 	background-color:rgba(201,175,158,1);  }
.settings-panel1 .c_patterns li.c21{ 	background-color:rgba(43,175,180,1);  }
.settings-panel1 .c_patterns li.c22{ 	background-color:rgba(124,184,210,1);  }
.settings-panel1 .c_patterns li.default{ background-color:rgba(127,188,183,1);  }

.settings-panel1 .patterns li.img_bgs1{ background:url(../images/patterns/transparent/1.png);  }
.settings-panel1 .patterns li.img_bgs2{ background:url(../images/patterns/transparent/2.png);  }
.settings-panel1 .patterns li.img_bgs3{ background:url(../images/patterns/transparent/3.png);  }
.settings-panel1 .patterns li.img_bgs4{ background:url(../images/patterns/transparent/4.png);  }
.settings-panel1 .patterns li.img_bgs5{ background:url(../images/patterns/transparent/5.png);  }
.settings-panel1 .patterns li.img_bgs6{ background:url(../images/patterns/transparent/6.png);  }
.settings-panel1 .patterns li.img_bgs7{ background:url(../images/patterns/transparent/7.png);  }
.settings-panel1 .patterns li.img_bgs8{ background:url(../images/patterns/transparent/8.png);  }
.settings-panel1 .patterns li.img_bgs9{ background:url(../images/patterns/transparent/9.png);  }
.settings-panel1 .patterns li.img_bgs10{background:url(../images/patterns/transparent/10.png); }
.settings-panel1 .patterns li.img_bgs11{ background:url(../images/patterns/transparent/11.png);  }
.settings-panel1 .patterns li.img_bgs12{ background:url(../images/patterns/transparent/12.png);  }
.settings-panel1 .patterns li.img_bgs13{ background:url(../images/patterns/transparent/13.png);  }
.settings-panel1 .patterns li.img_bgs14{ background:url(../images/patterns/transparent/14.png);  }
.settings-panel1 .patterns li.img_bgs15{ background:url(../images/patterns/transparent/15.png);  }
.settings-panel1 .patterns li.img_bgs16{ background:url(../images/patterns/transparent/16.png);  }
.settings-panel1 .patterns li.img_bgs17{ background:url(../images/patterns/transparent/17.png);  }
.settings-panel1 .patterns li.img_bgs18{background:url(../images/patterns/transparent/18.png); }
.settings-panel1 .patterns li.default{background:#ececec; }


.settings-panel1  h5{ 
	font-size:14px;
	color:#61b1ca;
	 font-weight:600;
	 padding: 20px 3px 0px 60px;
}
.settings-panel1  h6{ 
	font-size:12px;
	color:#61b1ca;
	 font-weight:600;
	 text-align:left;
	 float:left;
	 padding-left:60px;
	 margin-top:-5px;

}
.settings-panel1 { 
	font-size:10x;
}
