/* colors */
body a:link{ color:#c9af9e; text-decoration:none;}
body a:visited{ color:#c9af9e; text-decoration:none;}
body a:active{ color:#c9af9e; text-decoration:none;}
ul.arrowunderline li:hover { color:#c9af9e; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#c9af9e; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#c9af9e;
}
.heading{
color:#c9af9e; 
}
.date{
		color:#c9af9e;
}
.green_bg{	background-color:rgba(201,175,158,0.5);}	
#form input, textarea { color:#c9af9e; }
.card_circle{background-color:#c9af9e;}

#portfolio-filter li a:hover { background-color:#c9af9e; }
#portfolio-filter li a.current { background-color:#c9af9e;	}

#portfolio-list li:hover h5 { color:#c9af9e; }

#form input, textarea { color:#c9af9e; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#c9af9e;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#c9af9e; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#c9af9e; } 
#contact .right  span a:hover { color:#c9af9e; text-decoration:none; }
.input-box1 { background-color:#c9af9e; }
.accordion .tog.button_large span{ color:#c9af9e;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#c9af9e;
}
 
.green_highlite{background:#c9af9e;}
blockquote{
color:#c9af9e;} 

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#c9af9e; }
	#nav li#selected{ color:#c9af9e; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#c9af9e; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#c9af9e; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#c9af9e; }
	#nav li:hover { color:#c9af9e; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#c9af9e; }
	#nav li#selected{ color:#c9af9e; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#c9af9e; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#c9af9e; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#c9af9e; }
	#nav li:hover { color:#c9af9e; cursor:pointer; }
}

/* colors */	
