/* colors */
body a:link{ color:#c07187; text-decoration:none;}
body a:visited{ color:#c07187; text-decoration:none;}
body a:active{ color:#c07187; text-decoration:none;}
ul.arrowunderline li:hover { color:#c07187; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#c07187; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#c07187;
}
.heading{
color:#c07187; 
}
.date{
		color:#c07187;
}
.green_bg{	background-color:rgba(192,113,135,0.5);}	
#form input, textarea { color:#c07187; }
.card_circle{background-color:#c07187;}

#portfolio-filter li a:hover { background-color:#c07187; }
#portfolio-filter li a.current { background-color:#c07187;	}

#portfolio-list li:hover h5 { color:#c07187; }

#form input, textarea { color:#c07187; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#c07187;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#c07187; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#c07187; } 
#contact .right  span a:hover { color:#c07187; text-decoration:none; }
.input-box1 { background-color:#c07187;}
.accordion .tog.button_large span{color:#c07187;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#c07187;
}

.togg .tog.current span{
 color:#c07187;}
 .green_highlite{background:#c07187;}
 blockquote{
 color:#c07187; }
 
 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#c07187; }
	#nav li#selected{ color:#c07187; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#c07187; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#c07187; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#c07187; }
	#nav li:hover { color:#c07187; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#c07187; }
	#nav li#selected{ color:#c07187; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#c07187; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#c07187; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#c07187; }
	#nav li:hover { color:#c07187; cursor:pointer; }
}

/* colors */		
