/* colors */
body a:link{ color:#74c676; text-decoration:none;}
body a:visited{ color:#74c676; text-decoration:none;}
body a:active{ color:#74c676; text-decoration:none;}
ul.arrowunderline li:hover { color:#74c676; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#74c676; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#74c676;
}
.heading{
color:#74c676; 
}
.date{
		color:#74c676;
}
.green_bg{	background-color:rgba(116,198,118,0.5);}	
#form input, textarea { color:#74c676; }
.card_circle{background-color:#74c676;}

#portfolio-filter li a:hover { background-color:#74c676; }
#portfolio-filter li a.current { background-color:#74c676;	}

#portfolio-list li:hover h5 { color:#74c676; }

#form input, textarea { color:#74c676; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#74c676;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#74c676; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#74c676; } 
#contact .right  span a:hover { color:#74c676; text-decoration:none; }
.input-box1 { background-color:#74c676;}
.accordion .tog.button_large span{color:#74c676;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
    color:#74c676;
	}
 

.green_highlite{background:#74c676;}
blockquote{
color:#74c676;}

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#74c676; }
	#nav li#selected{ color:#74c676; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#74c676; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#74c676; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#74c676; }
	#nav li:hover { color:#74c676; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#74c676; }
	#nav li#selected{ color:#74c676; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#74c676; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#74c676; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#74c676; }
	#nav li:hover { color:#74c676; cursor:pointer; }
}

/* colors */	
