/* colors */
body a:link{ color:#d0e185; text-decoration:none;}
body a:visited{ color:#d0e185; text-decoration:none;}
body a:active{ color:#d0e185; text-decoration:none;}
ul.arrowunderline li:hover { color:#d0e185; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#d0e185; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#d0e185;
}
.heading{
color:#d0e185; 
}
.date{
		color:#d0e185;
}
.green_bg{	background-color:rgba(208,225,133,0.5);}	
#form input, textarea { color:#d0e185; }
.card_circle{background-color:#d0e185;}

#portfolio-filter li a:hover { background-color:#d0e185; }
#portfolio-filter li a.current { background-color:#d0e185;	}

#portfolio-list li:hover h5 { color:#d0e185; }

#form input, textarea { color:#d0e185; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#d0e185;
}
#form .submitBtn:hover{  background-color:#666666; }
#form .font-11{  color:#d0e185; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#d0e185; } 
#contact .right  span a:hover { color:#d0e185; text-decoration:none; }
.input-box1 { background-color:#d0e185;}
.accordion .tog.button_large span{color:#d0e185;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#2bafb4;
}

.green_highlite{background:#d0e185;}
blockquote{
color:#d0e185;}

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#d0e185; }
	#nav li#selected{ color:#d0e185; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#d0e185; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#d0e185; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#d0e185; }
	#nav li:hover { color:#d0e185; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#d0e185; }
	#nav li#selected{ color:#d0e185; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#d0e185; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#d0e185; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#d0e185; }
	#nav li:hover { color:#d0e185; cursor:pointer; }
}

/* colors */		