/* colors */
body a:link{ color:#fdc2d6; text-decoration:none;}
body a:visited{ color:#fdc2d6; text-decoration:none;}
body a:active{ color:#fdc2d6; text-decoration:none;}
ul.arrowunderline li:hover { color:#fdc2d6; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#fdc2d6; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#fdc2d6;
}
.heading{
color:#fdc2d6; 
}
.date{
		color:#fdc2d6;
}
.green_bg{	background-color:rgba(253,194,214,0.5);}	
#form input, textarea { color:#fdc2d6; }
.card_circle{background-color:#fdc2d6;}

#portfolio-filter li a:hover { background-color:#fdc2d6; }
#portfolio-filter li a.current { background-color:#fdc2d6;	}

#portfolio-list li:hover h5 { color:#fdc2d6; }

#form input, textarea { color:#fdc2d6; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#fdc2d6;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#fdc2d6; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#fdc2d6; } 
#contact .right  span a:hover { color:#fdc2d6; text-decoration:none; }
.input-box1 { background-color:#fdc2d6;}
.accordion .tog.button_large span{color:#fdc2d6;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
 color:#fdc2d6;
	}

.green_highlite{background:#fdc2d6;}
blockquote{
 color:#fdc2d6;}


 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#fdc2d6; }
	#nav li#selected{ color:#fdc2d6; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#fdc2d6; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#fdc2d6; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#fdc2d6; }
	#nav li:hover { color:#fdc2d6; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#fdc2d6; }
	#nav li#selected{ color:#fdc2d6; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#fdc2d6; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#fdc2d6; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#fdc2d6; }
	#nav li:hover { color:#fdc2d6; cursor:pointer; }
}

/* colors */		
