/* colors */
body a:link{ color:#2bafb4; text-decoration:none;}
body a:visited{ color:#2bafb4; text-decoration:none;}
body a:active{ color:#2bafb4; text-decoration:none;}
ul.arrowunderline li:hover { color:#2bafb4; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#2bafb4; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#2bafb4;
}
.heading{
color:#2bafb4; 
}
.date{
		color:#2bafb4;
}
.green_bg{	background-color:rgba(43,175,180,0.5); }	
#form input, textarea { color:#2bafb4; }
.card_circle{background-color:#2bafb4;}

#portfolio-filter li a:hover { background-color:#2bafb4; }
#portfolio-filter li a.current { background-color:#2bafb4;	}

#portfolio-list li:hover h5 { color:#2bafb4; }

#form input, textarea { color:#2bafb4; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#2bafb4;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#2bafb4; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#2bafb4; } 
#contact .right  span a:hover { color:#2bafb4; text-decoration:none; }
.input-box1 { background-color:#2bafb4;}
.accordion .tog.button_large span{color:#2bafb4;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#2bafb4;
	}

.green_highlite{background:#2bafb4;}
blockquote{
color:#2bafb4;}

/* colors */		

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#2bafb4; }
	#nav li#selected{ color:#2bafb4; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#2bafb4; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#2bafb4; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#2bafb4; }
	#nav li:hover { color:#2bafb4; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#2bafb4; }
	#nav li#selected{ color:#2bafb4; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#2bafb4; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#2bafb4; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#2bafb4; }
	#nav li:hover { color:#2bafb4; cursor:pointer; }
}