/* colors */
body a:link{ color:#8eb4c9; text-decoration:none;}
body a:visited{ color:#8eb4c9; text-decoration:none;}
body a:active{ color:#8eb4c9; text-decoration:none;}
ul.arrowunderline li:hover { color:#8eb4c9; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#8eb4c9; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#8eb4c9;
}
.heading{
color:#8eb4c9; 
}
.date{
		color:#8eb4c9;
}
.green_bg{	background-color:rgba(142,180,201,0.5); }	
#form input, textarea { color:#8eb4c9; }
.card_circle{background-color:#8eb4c9;}

#portfolio-filter li a:hover { background-color:#8eb4c9; }
#portfolio-filter li a.current { background-color:#8eb4c9;	}

#portfolio-list li:hover h5 { color:#8eb4c9; }

#form input, textarea { color:#8eb4c9; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#8eb4c9; 
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#8eb4c9; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#8eb4c9; } 
#contact .right  span a:hover { color:#8eb4c9; text-decoration:none; }
.input-box1 { background-color:#8eb4c9; }
.accordion .tog.button_large span{color:#8eb4c9;} 

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#8eb4c9;
}

.green_highlite{background:#8eb4c9;}
blockquote{
color:#8eb4c9;} 

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#8eb4c9; }
	#nav li#selected{ color:#8eb4c9; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#8eb4c9; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#8eb4c9; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#8eb4c9; }
	#nav li:hover { color:#8eb4c9; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#8eb4c9; }
	#nav li#selected{ color:#8eb4c9; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#8eb4c9; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#8eb4c9; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#8eb4c9; }
	#nav li:hover { color:#8eb4c9; cursor:pointer; }
}

/* colors */	
