/* colors */
body a:link{ color:#ced0cd; text-decoration:none;}
body a:visited{ color:#ced0cd; text-decoration:none;}
body a:active{ color:#ced0cd; text-decoration:none;}
ul.arrowunderline li:hover { color:#ced0cd; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#ced0cd; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#ced0cd;
}
.heading{
color:#ced0cd; 
}
.date{
		color:#ced0cd;
}
.green_bg{	background-color:rgba(206,208,205,0.5); }	
#form input, textarea { color:#ced0cd; }
.card_circle{background-color:#ced0cd;}

#portfolio-filter li a:hover { background-color:#ced0cd; }
#portfolio-filter li a.current { background-color:#ced0cd;	}

#portfolio-list li:hover h5 { color:#ced0cd; }

#form input, textarea { color:#ced0cd; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#ced0cd;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#ced0cd; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#ced0cd; } 
#contact .right  span a:hover { color:#ced0cd; text-decoration:none; }
.input-box1 { background-color:#ced0cd; }
.accordion .tog.button_large span{color:#ced0cd;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
   color:#ced0cd;
	}

.green_highlite{background:#ced0cd}
blockquote{
color:#ced0cd;}


 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#ced0cd; }
	#nav li#selected{ color:#ced0cd; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#ced0cd; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#ced0cd; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#ced0cd; }
	#nav li:hover { color:#ced0cd; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#ced0cd; }
	#nav li#selected{ color:#ced0cd; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#ced0cd; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#ced0cd; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#ced0cd; }
	#nav li:hover { color:#ced0cd; cursor:pointer; }
}

/* colors */				
