/* colors */
body a:link{ color:#0e9c2c; text-decoration:none;}
body a:visited{ color:#0e9c2c; text-decoration:none;}
body a:active{ color:#0e9c2c; text-decoration:none;}
ul.arrowunderline li:hover { color:#0e9c2c; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#0e9c2c; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#0e9c2c;
}
.heading{
color:#0e9c2c; 
}
.date{
		color:#0e9c2c;
}
.green_bg{	background-color:rgba(14,156,44,0.5); }	
#form input, textarea { color:#0e9c2c; }
.card_circle{background-color:#0e9c2c;}

#portfolio-filter li a:hover { background-color:#0e9c2c; }
#portfolio-filter li a.current { background-color:#0e9c2c;	}

#portfolio-list li:hover h5 { color:#0e9c2c; }

#form input, textarea { color:#0e9c2c; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#0e9c2c;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#0e9c2c; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#0e9c2c; } 
#contact .right  span a:hover { color:#0e9c2c; text-decoration:none; }
.input-box1 { background-color:#0e9c2c; }
.accordion .tog.button_large span{color:#0e9c2c;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
   color:#0e9c2c;
	}

.green_highlite{background: #0e9c2c;}
blockquote{
color:#0e9c2c;}


 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#0e9c2c; }
	#nav li#selected{ color:#0e9c2c; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#0e9c2c; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#0e9c2c; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#0e9c2c; }
	#nav li:hover { color:#0e9c2c; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#0e9c2c; }
	#nav li#selected{ color:#0e9c2c; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#0e9c2c; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#0e9c2c; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#0e9c2c; }
	#nav li:hover { color:#0e9c2c; cursor:pointer; }
}

/* colors */		
