/* colors */
body a:link{ color:#b28192; text-decoration:none;}
body a:visited{ color:#b28192; text-decoration:none;}
body a:active{ color:#b28192; text-decoration:none;}
ul.arrowunderline li:hover { color:#b28192; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#b28192; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#b28192;
}
.heading{
color:#b28192; 
}
.date{
		color:#b28192;
}
.green_bg{background-color:rgba(178,129,146,0.5);}	
#form input, textarea { color:#b28192; }
.card_circle{background-color:#b28192;}

#portfolio-filter li a:hover { background-color:#b28192; }
#portfolio-filter li a.current { background-color:#b28192;	}

#portfolio-list li:hover h5 { color:#b28192; }

#form input, textarea { color:#b28192; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#b28192;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#b28192; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#b28192; } 
#contact .right  span a:hover { color:#b28192; text-decoration:none; }
.input-box1 { background-color:#b28192;}
.accordion .tog.button_large span{color:#b28192;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#b28192;
}

.green_highlite{background:#b28192;}
blockquote{
color:#b28192;}

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#b28192; }
	#nav li#selected{ color:#b28192; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#b28192; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#b28192; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#b28192; }
	#nav li:hover { color:#b28192; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#b28192; }
	#nav li#selected{ color:#b28192; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#b28192; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#b28192; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#b28192; }
	#nav li:hover { color:#b28192; cursor:pointer; }
}

/* colors */