/* colors */
body a:link{ color:#62a6c4; text-decoration:none;}
body a:visited{ color:#62a6c4; text-decoration:none;}
body a:active{ color:#62a6c4; text-decoration:none;}
ul.arrowunderline li:hover { color:#62a6c4; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#62a6c4; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#62a6c4;
}
.heading{
color:#62a6c4; 
}
.date{
		color:#62a6c4;
}
.green_bg{	background-color:rgba(98,166,196,0.5); }	
#form input, textarea { color:#62a6c4; }
.card_circle{background-color:#62a6c4;}

#portfolio-filter li a:hover { background-color:#62a6c4; }
#portfolio-filter li a.current { background-color:#62a6c4;	}

#portfolio-list li:hover h5 { color:#62a6c4; }

#form input, textarea { color:#62a6c4; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
 background-color:#62a6c4;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#62a6c4; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#62a6c4; } 
#contact .right  span a:hover { color:#62a6c4; text-decoration:none; }
.input-box1 { background-color:#62a6c4;}
.accordion .tog.button_large span{color:#62a6c4;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
    color:#62a6c4;
	}

 .green_highlite{background:#62a6c4;}
 blockquote{
 color:#62a6c4;}
 
 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#62a6c4; }
	#nav li#selected{ color:#62a6c4; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#62a6c4; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#62a6c4; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#62a6c4; }
	#nav li:hover { color:#62a6c4; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#62a6c4; }
	#nav li#selected{ color:#62a6c4; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#62a6c4; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#62a6c4; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#62a6c4; }
	#nav li:hover { color:#62a6c4; cursor:pointer; }
}

/* colors */		
