/* Table of Content
-----------------------------------------------------------------
1.	Base style
2.	Wrap / Container 
3.	Common style
4.	Card style
5.	Preloader
6.	Header
7.	Home
8.	Wedding
9.	Wedding Album
10.	Gift
11.	Contact
*/

/*-------------------------------------------------------*/
	/* Base style	 */
/*-------------------------------------------------------*/
	html { overflow-y:scroll; }
	body {
	background-image:url(../images/patterns/cards/bg_2.jpg);
	background-color:#e7e7e7;
	background-repeat:repeat;
	background-position:left top;
	
   	}
	body  a:hover { color:#45ad45; text-decoration:none; }
	body ::selection { background:#898888; color:white; }
	body ::-moz-selection { background:#898888; color:white; }
	.clr { clear:both; padding:0px; margin:0px; }
	.float_left{ float:left;}
	.float_right{ float:right;}
	.center{text-align:center;}
	p{ margin:0px; padding:0px; }
	.img-left { float:left; }
	p, ul, ol, blockquote { margin-bottom:20px; }
/**********************  //Base style  ******************************/	
		
/*-------------------------------------------------------*/
	/* Wrap/Container	 */
/*-------------------------------------------------------*/
	#wrapper{ clear:both; width:100%; margin:0px auto; }
	.container{ clear:both; width:1068px; margin:0 auto; z-index:888888; margin-top:-80px; }
	#content {
	-webkit-box-shadow: 0px 3px 20px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 20px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 20px rgba(50, 50, 50, 0.5);	
	height:auto;
	clear:both;
	z-index:888888;
	}
	#home,#portfolio, #contact,.sub_page { width:980px; margin:0 auto;  clear:both;}
/**********************  // Wrap/Container  ******************************/		

/*-------------------------------------------------------*/
	/* Common Style	 */
/*-------------------------------------------------------*/
	.dot_line{ clear:both; width:500px; margin:20px auto;}
	.heading_dots{ clear:both; width:1000px; margin:0 auto;}
	.lines_dot{	
	background-image: url(../images/dot_line.png);
	background-repeat: repeat-x;
	background-position: left center;	
	padding:10px 0px; 
	height:26px;
	width:100%;
	}	
	.heart{
	background-image:url(../images/small_heart.png);
	background-repeat:no-repeat;
	width:51px;
	height:44px;
	background-position:center top;
	margin:0 auto;
	margin-top:-10px;
	}		
	.padtop20{padding-top:20px;}
	.padtop40{padding-top:40px;}
	.padtop50{padding-top:50px;}
	/* Short codes */
	ul.list{margin:60px 0px 0px 0px;padding:0px;}
	ul.list li{
	float:left;
	display:inline;
	list-style:none;
	width:30.5%;
	padding:0px 12px;
	font-weight:300;
	font-size:14px;
	text-align:center;
	border-right:solid 1px #e0e0e0;
	}
	ul.list li span{ font-size:13px; font-weight:300; }
	ul.list li:last-child{ border-right:none; }
	ul.list li .head{
	font-weight:400;
	font-size:18px;
	text-align:center;
	color:#333333;
	}
	.register-top {clear:both; margin:0px 0px 0px 36px;}
	.register{ 
	clear:both;
	font-size:26px;
	color:#999999;
	text-align:center;
	text-transform:capitalize;
	padding:20px 0px;
	}	
	ul.logo_image{ margin-left:5%;}
	ul.logo_image li{ 
	float:left;
	width:30%;
	height:61px;
	margin-left:0px;
	margin-right:5px;	
	margin-bottom:20px;
	}
	ul.logo_image li img{opacity:0.5; transition: all .5s ease-in-out;}
	
	ul.logo_image li img:hover{ cursor:pointer; margin-top:-15px; transition: all .5s ease-in-out; opacity:1;}
	
	
	ul.card_image{ margin-right:20%;}
	ul.card_image li{ 
	float:left;
	width:30%;
	height:289px;
	margin-left:0px;
	margin-right:5px;	
	margin-bottom:20px;
	}
	
	/* /Short codes */	
/**********************  // Common Style  ******************************/	
	/* Blockquote */
	blockquote { margin-bottom:20px; }	
	.right_pull{ float:right; width:37%; padding-left:27px; padding-top:20px; padding-bottom:20px;}
	.left_pull{ float:left; width:40%; padding-right:27px; padding-top:20px; padding-bottom:20px;}
	q, blockquote {
		font-family: 'Cookie', cursive;
		/*font-family: 'open sans', sans-serif;*/
		float:left;
		padding:0 0 0 35px;
		margin:0;
		position:relative;
		vertical-align:baseline;
		color:#d2d2d2;
	}
	
	q:before, blockquote:before {
		content:'\201C';
		font-size:100px;
		line-height:1em;
		display:block;
		padding:0;
		position:absolute;
		top:-15px;
		left:0;
	}
	
	q:after, blockquote:after { clear:both; }
	blockquote p{ font-size:18px; color:#444444; line-height:25px;}	
	/* // Bloclquote */	
/*-------------------------------------------------------*/
	/* Card style	 */
/*-------------------------------------------------------*/
	.card-pattern {
	background-image:url(../images/patterns/cards/wall4.png);
	background-repeat:repeat;
	background-position:left top;
	height:auto;
	width:1068px;
	margin:0px auto;
	clear:both;
	padding-bottom:40px;
	z-index:999999;
	}
	.bottom-shade {
	background-image:url(../images/bottom-shade.png);
	background-repeat:no-repeat;
	background-position:left top;
	width:990px;
	height:27px;
	clear:both;
	}
	.sub_page h2 { padding:0px 0px 20px 0px;}
	.hline{
	background-image:url(../images/hline.png);
	background-repeat:repeat-x;
	background-position:left top;
	width:100%;
	height:2px;
	margin:20px 0px;
	}
/**********************  // Card style  ******************************/
	
/*-------------------------------------------------------*/
	/* Preloader	 */
/*-------------------------------------------------------*/
	body { overflow:hidden; }
	#preloader {
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background:white;
	  z-index:2;
	}
	#spinner_container { width:193px; margin:250px auto; }
	#spinner { display:block; margin:20px auto; }
/**********************  // Preloader  ******************************/

/*-------------------------------------------------------*/
	/* Header	 */
/*-------------------------------------------------------*/
	#top-head {
	background-color:#fbfbfb;
	width:100%;
	height:55px;
	top: 0px; /* Top alignment of menu background */
	position: fixed;
	z-index:999999;
	}
/* menu start*/
	.menu_nav { padding-top:20px; width:100%; text-align:center; }
	ul.arrowunderline { list-style-type:none; padding:0; position: relative; left: -50%;}
	ul.arrowunderline li {
	float:left;
	display:inline;
	width:auto;
	margin-left:35px; /* spacing between each menu item */
	font-size:14px;
	line-height:normal;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	text-transform:uppercase;
	position:relative;
	}
	.nav-wrap{  position: relative;
  float: left;
  left: 50%; 
  }
	ul.arrowunderline li:hover:after, ul.arrowunderline li#selected:after { /* use CSS generated content to add arrow to the menu */
	content:'';
	width:0;
	height:0;
	position:absolute;
	}	
	#menu-icon { display:none; } /* this CSS for Mobile and Tablet menu
/* //menu */
	.border_pat{
	background-image: url(../images/border-pat.png);
	background-repeat: repeat-x;
	background-position: left top;
	clear:both;
	height:7px;
	margin-top:35px;
	}
	.green_bg{
	z-index:777777;
	margin-top:56px;
	height:186px;
	width:100%;
	overflow:hidden;

	
	
	}
	.logo_sec{ width:1000px; margin:0 auto; text-align:center; position:relative; }
	.groom{ float:left;  margin-top:-80px; width:42%; text-align:right;}
	.bride{ float:right; margin-top:-80px; width:42.5%; text-align:left;}
	.middle_heart {  padding:0px 0px 0px 10px; background-image:url(../images/heart.png); background-repeat:no-repeat;
	background-position:center top; width:138px; height:118px; margin:0 auto; position:relative; }

/**********************  Home  start  ******************************/
/* Card content */
	.card_content{
	clear:both;
	width:980px;
	margin:0 auto;
	padding-top:30px;
	}
	.card_content p{padding:10px 30px;}
	.card_left{ float:left; width:45%; height:auto;	}
	.card_left img{ margin-left:95px; margin-bottom:20px;}
	.card_heading{
	clear:both;
	color:#333333;
	font-size:30px;
	text-transform:capitalize;
	text-align:center;
	padding-bottom:10px;
	}
	.card_middle{ float:left; width:10%; height:auto; padding-top:80px; }
	.card_circle{ 
	width:60px; 
	height:60px; 
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	behavior: url(pie.htc);
	position:relative;			
	margin-left:15px;
	font-size:50px;
	color:#ffffff;
	text-align:center;
	font-weight:100;
	line-height:60px;
	}
	.card_circle a:link{ color:#ffffff; text-decoration:none;}	
	.card_circle a:hover{ color:#333333; text-decoration:none;}
	.card_circle a:visited{ color:#ffffff; text-decoration:none;}	
	.card_circle a:active{ color:#ffffff; text-decoration:none;}
	.card_right{ float:left; width:45%; height:auto;}
	.card_right img{ margin-bottom:20px;}
/* //Card content */	

/**********************  //home  ******************************/

/**********************  Wedding  Start  ******************************/
	#wedding{display:none;}
/**********************  //Wedding  ******************************/



/**********************  Features  ******************************/
#features{display:none;}
.features_top{ clear:both;}
.features_left { width:50%; height:auto; float:left;}
.features_right { width:50%; height:auto; float:left;}

/**********************  /Features  ******************************/



/**********************  Wedding Album Start  ******************************/
	#portfolio{display:none;}
	/* Filter menu */
	#portfolio-filter { overflow:hidden; margin:20px 0px 0px 30%; }
	#portfolio-filter li a {
	float:left;
	margin-right:10px;
	color:#fff;
	background-color:#6e6e6e;
	padding:3px 10px 3px 10px;
	margin-bottom:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	behavior: url(pie.htc);
	position:relative;				
	}
	/* Images list */
	#portfolio-list { width:980px; margin:0 auto;}
	#portfolio-list li {
	text-align:center;
	width:226px;
	height:200px;
	list-style:none;
	color:#898888;
	margin:30px 9px 0px 9px;
	}
	#portfolio-list li:hover {
	text-align:center;
	cursor:pointer;
	width:226px;
	height:200px;
	list-style:none;
	}
	#portfolio-list img { height:160px; width:226px; }
	#portfolio-list li h5 {  margin-top:5px; color:#999999; }
	#portfolio-list li .categorie {
	font-size:11px;
	line-height:20px;
	color:#898888;
	font-style:italic;
	font-weight:normal;
	}
	/* Isotope filtering start */
    .isotope-item { z-index:2;	}
	.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
	.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	transition-duration:0.8s;
	}
	.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	transition-property:height, width;
	}
	.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity;
	}
	/* Isotope Filtering end */

	/* adipoli start*/
	.adipoli-wrapper { margin:auto; position:relative; display:inline-block; }
	.adipoli-wrapper>img { position:absolute; z-index:1; }
	.adipoli-before { position:absolute; z-index:5; }
	.adipoli-after { position:absolute; z-index:10; }
	.adipoli-slice { display:block; position:absolute; z-index:15; height:100%; }
	.adipoli-box { display:block; position:absolute; z-index:15; }	
	/* adipoli end*/
/**********************  //Wedding Album  ******************************/

/**********************  Gift start  ******************************/
	#gift{display:none;}
/**********************  //Gift  ******************************/

/**********************  Contact  start  ******************************/
	#contact{display:none;}
	#contact iframe { clear:both; width:95%; height:250px; margin:0px 0px 0px 20px; border:1px solid #ffffff;}	
	#contact .left { width:53%; float:left; margin:10px 0px 0px 10px;}
	#contact .left h2 { border-bottom:1px solid #cacccc; padding-bottom:14px; }
/* Comment Form */
	#contact_form { 
	background:#d8dbdb;
    border:1px solid #d3d3d3;
	border-radius:3px;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
	behavior: url(pie.htc);
	position:relative;		
	margin:0 auto 1.625em;
	padding:1.625em;
	width:220px;
	height:435px;
	}
	.boxBody {
	width:100%;
	float:left;
	background-color:none;
	-moz-border-radius-topright:3px; 
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;	
	-webkit-border-bottom-right-radius:3px;		
	behavior: url(pie.htc);
	position:relative;			
	}
	.boxBody .desc { display:block; }
   	.post_message { font-weight:bold; }
	#form { display:block; width:422px; padding:0px 20px 0px 5px; }
	#form div{ float:left; width:422px; position:relative; }
	#form label { width:100%; float:left; padding-top:5px; margin:0px 0px 0px -5px; }
	#form label.error { 
	color:#F00000;
	position:absolute;
	text-align:right;
	font-size:11px;
	top:0;
	left:0;
	}
	#form input, textarea {
	width:406px;
	padding:8px;
	font-size:13px;
	background-color:#FFFFFF;
	float:left;
	border-style:none;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	behavior: url(pie.htc);
	position:relative;			
	margin:0px 0px 0px -10px;
	}
	#form input[type="text"]:focus, #form textarea:focus { /*border-color: rgba(82, 168, 236, 0.8);*/
  outline: 0;
  /* outline: thin dotted \9; */
  
  /* IE6-9 */
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); */
		   }
	
	
	#form textarea{ font-family:Arial, Helvetica, sans-serif; font-size:13px; }
	#form .submitBtn {
	text-shadow:0 1px 0 #000;
	color:#FFFFFF;
	border-style:none;
	font-size:16px;
	display:block;
	width:75px;
	padding:3px 0px 3px 0px;
	margin:10px 0px 0px 0px;
	cursor:pointer;
	background-color:#666666;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(pie.htc);
	position:relative;			
	float: right;
	margin-right:60px;
	height:30px;
	text-transform: capitalize
	}
	
	
	#form .submitBtn:hover{ color:#ffffff;}
	#form .form_left{ float:left; width:50%; height:auto;}
	#form .form_right{ float:right; width:50%; height:auto;}	
	#form .guests{ width:80%; }
	#respond { 
	background:#ebebeb;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:0 auto 1.625em;
	padding:1.625em;
	width:420px;
	height:auto;
	margin-left:26px;
	}
	#respond input[type="text"], #respond textarea {
	background:#fff;
	border:0px solid #eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(pie.htc);
	position:relative;		
/*	-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);*/
	text-indent:10px;
	padding:2px 0px 0px 10px;
	width:85%;
	}
	
	
	
	#respond select{ 
	width:15%; 
	height:25px; 
	margin-top:5px; 
	margin-left:-5px;  	
	background:#fff;
	border:4px solid #eee;
	}	
	#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url, #respond .comment-form-comment { margin-top:-10px; }
	#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, 	#respond .comment-form-comment label	 	{
	background:#eee;
	-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;
	display:inline-block;
	font-size:13px;
	left:4px;
	min-width:60px;
	padding:0px 10px;
	top:35px;
	z-index:1;
	position:relative;
	}
	#respond label { line-height:2.0em; }
	#respond input[type=text] { display:block; height:35px; width:85%; position:relative; }
	
	#respond p {  position:relative; }
	.form-allowed-tags { display:none; }
	#respond label.error {
	position:absolute;
	z-index:1;
	top:-4px;
	font-size:12px;
	color:#e92a0b;
	padding:3px 9px 10px 10px;
	width:260px;
	height:20px;
	margin:30px 0px 0px 365px;
	text-align:left;
	background-color:#d8dbdb;
	border:solid 1px #d0d2d2;
	}
/* Contact Form alert end */
	.hor-space { clear:both; height:45px; }
	#contact .right { width:40%; float:right; margin:10px 20px 0px 0px;}
	#contact .right .details ul { margin:0px; padding:10px 0px 0px 0px; }
	#contact .right .details li {
	list-style:none;
	float:left;
	width:190px;
	font-size:14px;
	color:#e86874;
	padding:10px 35px 20px 0px;
	font-weight:bold;
	}
	#contact .right .details li img { padding:0px 7px 20px 0px; float:left; width:38px; }
	#contact .right .details li  span { font-weight:normal; clear:both; color:#363636; font-size:13px; }
	#contact .right h2 { text-transform:none; text-align:left; margin:25px 0px 0px 0px; }
	#contact .right img { margin:23px 0px 0px 0px; }
	.pad-top5 { padding-top:6px; }
	#contact .right .twitter {
	width:386px;
	height:150px;
	background-image:url(../images/twitter.png);
	background-repeat:no-repeat;
	background-position:left top;
	}
	#contact .right .twitter h2 { text-align:left; padding:18px 0px 0px 20px; }
/*	#contact .right .twitter ul { font-size:12px; color:#5e5d5d; padding:5px 10px 0px 20px; text-shadow:0px 1px 1px #ffffff; } 
	#contact .right .twitter ul a:hover { color:#B5B5B5; } */
	#contact .right  span { float:right; width:70%; }
	#contact .right .twitter  span { float:right; width:100%; }
	#contact .right span a { text-decoration:none; }
	
.tweet { width:100%;}
.tweet_list{ width:100%;}
ul.tweet_list{ margin:0px; padding:0px; list-style-type:none;}
ul.tweet_list li{width:auto; padding:5px 10px 0px 20px; font-size:12px; font-weight:100; }
.tweet_text a:link,.tweet_time a:link{ color: #5e5d5d; text-decoration: none; cursor:pointer; }
.tweet_text a:visited,.tweet_time a:visited{ color: #5e5d5d; text-decoration: none; }
.tweet_text a:hover,.tweet_time a:hover{ color: #B5B5B5; text-decoration: none; }
.tweet_text a:active,.tweet_time a:active{ color: #5e5d5d; text-decoration: none; }
	
	
	.input-box1 {
	float:left;
	width:auto;
	height:25px;
	-moz-border-radius:5px;
   -webkit-border-radius:5px;
	border-radius:5px;
	behavior: url(pie.htc);
	position:relative;		
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
	margin-bottom:20px;
	margin-top:2px
	}
	
	.contact_icon li{ 
	float:left; 
	margin-right:8px; 
	cursor:pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity:0.7;
 	}

	
	.contact_icon li:hover{  
	cursor:pointer;
	margin-top:-10px;
 	-webkit-transition: all 0.5s ease;
 	-moz-transition: all 0.5s ease;
 	-ms-transition: all 0.5s ease;
 	-o-transition: all 0.5s ease;
	 transition: all 0.5s ease;
	 	opacity:1;
	}

	
/**********************  //Contact  ******************************/

/******************************************** Features  *********************************/
	.frame_left{ clear:both;}
	.frame_right{ clear:both;}
	.right_pull{ float:right;  padding-left:5px; padding-top:20px; padding-bottom:20px; }
	.left_pull{ float:left; padding-right:0px; padding-top:20px; padding-bottom:20px;}
	/*.left_pull p{ font-family:Arial, Helvetica, sans-serif}*/
	.slide-pad1 { float:left;  padding:0px 25px 5px 0px; }
	.slide-pad2 { float:right;  padding:0px 0px 5px 25px; width:27%;}
	span.letter_caps {
	float:left;
	font-size:40px;
	font-weight:500;
	line-height:30px;
	margin-top:5px;
	padding:0 13px;
	color:#969696;
	text-transform:uppercase;
	}	
	span.letter_caps1 {
	color:#FFFFFF;
	font-size:32px;
	line-height:38px;
	font-weight:500;
	text-align:center;
	width:38px;
	float:left;
	margin:0 8px -5px;
	background-color:#afafaf;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(pie.htc);
	position:relative;	
	}
	
q, blockquote {
	float:left;
	padding:0 0 0 20px;
	margin:0;
	margin-top:10px;
	position:relative;
	vertical-align:baseline;
	color:#d2d2d2;
	font-weight:bold;
	font-size:100px;
	font-family:"PT Sans";
	
		}

q:before, blockquote:before {
	content:'\201C';
	line-height:1em;
	display:block;
    padding:0;
	position:absolute;
	top:-15px;
	left:0;
	font-weight:normal;
	font-size:100px
}

q:after, blockquote:after { clear:both; 	font-size:9px }
blockquote p{ font-size:18px!important; color:#444444!important; line-height:25px!important; font-family:Arial, Helvetica, sans-serif!important;text-shadow: 0px 1px 1px #ffffff; margin-left:0px}
	
/******************************************** // Features *********************************/	

/**********************  Short codes  ******************************/

/* Toggle */
.togg { overflow:hidden; position:relative; }
.togg .tog {
	background:url(../images/accordion.png) no-repeat 7px 3px;
	text-decoration:none;
	display:block;
	padding:0 0 16px 38px;
	outline:0;
	
}
.togg .tog.current {background-position:7px -40px; }
.togg .tab_content {padding:0 0 16px 38px;}
.toggle_heading{
	font-size:18px;
	color:#969696;
	font-weight:500;
}
/* // Toggle */

/* Accordion */
.accordion { margin-bottom:18px; overflow:hidden; position:relative; }
.accordion .tog.button_large {
	display:block;
	padding-left:10px;
	margin-bottom:3px;
	padding-bottom:22px;
	padding-top:22px;
	background-color:#e8e8e8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url(pie.htc);
	position:relative;	
	outline:0;
	color:#2bafb4;

}
.accordion .tog.button_large span {
	background:url(../images/accordion.png) no-repeat 0 0;
	padding:0 0 0 30px;
			}
.accordion .tog.button_large.current span {background-position:0 -43px;}
.accordion .tab_content {
	padding:15px 0;
	overflow:hidden;
	position:relative;
}
.accordion_heading{ font-size:18px; color:#969696; font-weight:500; text-decoration:none}


/* /Accordion */

/* Tab */
	.tabs{ margin-bottom:0; list-style:none; margin-bottom:-2px; overflow:hidden; }
	.tabs li {
	font-family: 'open sans', sans-serif;
	color:#323232; 
	float:left; display:block;  font-size:14px;
	margin-right:5px; height:40px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;	
	behavior: url(pie.htc);
	position:relative;
	}
	.tabs li a {
	height:45px; line-height:45px; padding:0px 23px; display:block; 
	font-size:18px;
	color:#969696;
	font-weight:500;
	text-decoration:none;
	 background:none;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	behavior: url(pie.htc);		
	}
	.tabs li a:hover, .tabs li a.current {
	padding:0px 22px;
	height:45px; line-height:43px; 
	position:relative;
	z-index:1;
	background-color:#e8e8e8;
	border:1px solid #ddd;
	outline:0;
	}
	.tab { margin-bottom:18px; overflow:hidden; position:relative; }
	.tab_content { width:100%; }
	.tabs_tab {
	background-color:#e8e8e8;
	border:1px solid #ddd;
	padding:20px;
	overflow:hidden;
	position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	behavior: url(pie.htc);
	position:relative;	
	}
	/* /Tab */
	.green_highlite{ background:#e6c0c0; color:#fff; padding:3px 6px; text-shadow:none;}
	.gray_highlite{ background:#888888; color:#fff; padding:3px 6px; text-shadow:none;}
	.photo_container {
	height: 159px;
	width: 238px;
	padding: 10px;
	background-color: #f3f3f3;
	background-repeat: repeat;
	background-position: left top;
	border: 1px solid #dddddd;
}
#features p{ text-align:left!important; font-family:"Open Sans", Arial!important; line-height:25px!important; padding:0px 20px;}
.blank{display:none;}

/**********************  // Short codes  ******************************/	
